/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #EEEDE7;
    background-color: #868B8E;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

a {
    color: #EEEDE7;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header styles */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.logo {
    font-size: 24px;
    font-weight: 700;

}

nav ul {
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a:hover {
    color: #B9B7BD;
}

/* Hero section styles */
.hero {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('cheatsheet/bg.png');
    background-size: 300px 100p;
    background-position: center;
}

.hero h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* About section styles */
.about {
    padding: 80px 0;
}

.about h2 {
    font-size: 36px;
    text-align: center;
}

.about p {
    font-size: 18px;
    text-align: justify;
}

/* Contact section styles */
.contact {
    padding: 80px 0;
}

.contact h2 {
    font-size: 36px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #E7D2CC;
    color: #000;
}

textarea {
    resize: vertical;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #E7D2CC;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    background-color: #647C90;
    color: #fff;
}



#personl{
    color:#454545;
}